.btn {
  border: 2px solid $ivory;
  display: inline-block;
  color: $ivory;
  padding: 10px 30px;
  text-decoration: none;

  @include above-sm() {
    $value: 10 30;
    @include relative-size(padding, $value);
  }

  &.btn-green {
    border-color: $green;
    border-width: 2.5px;
    color: $green;
  }
}