.contact-us {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include above-sm() {
    @include relative-size(margin-top, 80);
    flex-direction: row;
  }

  .contact-us-newsletter {
    background-color: $green;
    color: $ivory;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;

    @include above-sm() {
      $value: 40 30;
      @include relative-size(padding, $value);
      width: 25%;
    }

    p {
      @extend .font-sm;

      @include above-sm() {
        @include relative-size(line-height, 26);
      }
    }

    .contact-us-newsletter-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .form-input {
        @extend .font-sm;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $ivory;
        color: $ivory;
        outline: none;
        padding: 8px 0;
        width: 100%;

        &::placeholder {
          color: rgba($ivory, .4);
        }

        @include above-sm() {
          $value: 8 0;
          @include relative-size(padding, $value);
        }

        &.form-input-error {
          border-color: red;
        }
      }

      .btn {
        background-color: transparent;
        cursor: pointer;
        margin-top: 20px;
        width: 150px;
        height: 42px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include above-sm() {
          @include relative-size(margin-top, 20);
        }

        &.btn-disabled {
          cursor: not-allowed;
          opacity: .6;
        }
      }
    }

    .contact-us-newsletter-message {
      line-height: 1.3;

      a {
        // @include underlined-link(7, -2);
        color: $ivory;
        text-decoration: underline;
      }
    }
  }

  .contact-us-image {
    width: 100%;

    @include above-sm() {
      width: 45%;
    }

    .contact-us-image-item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      height: 70vw;
      position: relative;

      @include above-sm() {
        height: 100%;
      }
    }
  }

  .contact-us-map {
    width: 100%;

    @include above-sm() {
      width: 30%;
    }

    .contact-us-map-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      height: 70vw;

      @include above-sm() {
        height: 18.5vw;
      }

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
      }
    }

    .contact-us-map-content {
      padding: 40px 30px;

      @include above-sm() {
        $value: 40 30;
        @include relative-size(padding, $value);
      }

      a {
        @include relative-size(margin-top, 20);
        @extend .font-lg;
        color: $green;
        display: inline-block;

        &:before {
          content: none;
        }

        &:first-child {
          margin-top: 0;
        }

        span {
          @include underlined-link(7, -2);
        }
      }
    }
  }
}