.header {
  background-color: white;
  display: flex;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;

  @include above-sm() {
    @include relative-size(height, 80);
    @include relative-size(right, 40);
    @include relative-size(top, 40);
  }

  > .header-link {
    &:before,
    &:after {
      content: none !important;
    }
  }

  .header-logo {
    padding: 0 15px;

    @include above-sm() {
      $value: 0 30;
      @include relative-size(padding, $value);
    }

    img {
      margin-top: 7px;
      width: 20px;

      @include above-sm() {
        @include relative-size(margin-top, 10);
        @include relative-size(width, 45);
      }
    }
  }

  .header-link,
  .header-toggle {
    position: relative;
    z-index: 1;
  }

  .header-toggle,
  .header-toggle-checkbox {
    display: block;

    @include above-sm() {
      display: none;
    }
  }

  .header-toggle {
    height: 40px;
    position: relative;
    width: 40px;

    span {
      background-color: $green;
      height: 2px;
      left: calc(50% - 10px);
      position: absolute;
      top: 50%;
      transition: margin-top .2s $cubicBezier, transform .2s $cubicBezier;
      transition-delay: .1s, 0s;
      width: 20px;

      &:first-child {
        margin-top: -5px;
      }

      &:last-child {
        margin-top: 3px;
      }
    }
  }

  .header-toggle-checkbox {
    position: absolute;
    right: -100px;
  }

  .header-toggle-checkbox:checked + .header-toggle {
    span {
      transition-delay: 0s, .1s;
    }
    
    span:first-child {
      margin-top: -1px;
      transform: rotate(-45deg);
    }

    span:last-child {
      margin-top: -1px;
      transform: rotate(45deg);
    }
  }

  .header-toggle-checkbox:checked + .header-toggle + .nav {
    display: block;
  }

  .header-link {
    background-color: white;
    cursor: pointer;
    height: 100%;
    position: relative;
    transition: background-color .3s $cubicBezier;
    
    &:after {
      background-color: $yellow;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
    }

    &:after {
      height: 0;
      transition: height .3s $cubicBezier;
      width: 100%;
    }
    
    &.active {
      &:after {
        height: 100%;
      }
    }

    &:hover {
      background-color: $ivory;//rgba($offWhite, .3);

      .header-link-icon {
        transform: translateY(1px);
      }
    }

    a,
    button {
      background-color: transparent;
      position: relative;
      z-index: 1;

      &:before {
        content: none;
      }
    }

    .header-link-icon {
      display: none;
      margin-left: 18px;
      position: relative;
      transform: translateY(0);
      transition: transform .2s $cubicBezier;

      @include above-sm() {
        @include relative-size(margin-left, 18);
        @include relative-size(width, 23);
        display: inline-block;
      }
    }
  }

  .nav {
    background-color: ivory;
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    @include above-sm() {
      background-color: white;
      display: block;
      position: relative;
      left: auto;
      top: auto;
      width: auto;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 80px;

      @include above-sm() {
        flex-direction: row;
        margin-top: 0;
      }

      li {
        a,
        button {
          border: 0;
          color: $green;
          cursor: pointer;
          display: inline-block;
          font-weight: 700;
          height: 100%;
          line-height: 1;
          outline: none;
          padding: 20px 30px;
          position: relative;
          text-align: left;

          @include above-sm() {
            $value: 0 30;
            @include relative-size(padding, $value);
          }

          &:hover {
            .nav-list-on-hover {
              display: none;

              @include above-sm() {
                display: block;
              }
            }
          }
        }

        a button {
          padding: 0;
        }
      }

      .nav-list-highlight {
        background-color: $green;
        position: relative;
        
        &:after {
          background-color: shade($green, 20%);
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          z-index: 0;
        }

        &:after {
          height: 0;
          transition: height .2s $cubicBezier;
          width: 100%;
        }

        &.active {
          &:after {
            height: 100%;
          }
        }

        button {
          background-color: transparent;
          color: white;
          position: relative;
          z-index: 1;
        }
      }

      .nav-list-on-click,
      .nav-list-on-hover {
        display: none;
        left: 0;
        position: absolute;
        top: 80px;
        z-index: 1000;

        @include above-sm() {
          @include relative-size(top, 80);
        }
      }

      .nav-list-on-click {
        background-color: $green;
        color: $offWhite;
        left: auto;
        padding: 50px 40px;
        width: 370px;

        @include above-sm() {
          $value: 50 40;
          @include relative-size(padding, $value);
        }

        &.active {
          display: block;
        }

        p {
          @extend .font-sm;
          margin: 15px 0 0;

          @include above-sm() {
            $value: 15 0 0;
            @include relative-size(margin, $value);
          }
        }

        p:first-of-type {
          margin-top: 20px;

          @include above-sm() {
            @include relative-size(margin-top, 20);
          }
        }

        .nav-list-on-click-title {
          margin: 0;
        }

        .btn {
          @extend .btn;
          margin-top: 20px;

          @include above-sm() {
            @include relative-size(margin-top, 32);
          }
        }

        .nav-list-on-click-close-button {
          position: absolute;
          top: 20px;
          right: 20px;

          @include above-sm() {
            @include relative-size(top, 20);
            @include relative-size(right, 20);
          }
        }
      }

      .nav-list-on-hover {
        width: 100%;

        li button {
          background-color: $offWhite;
          height: 80px;
          padding: 0 30px;
          width: 100%;

          @include above-sm() {
            $value: 0 30;
            @include relative-size(padding, $value);
            @include relative-size(height, 80);
          }

          &:hover {
            // background-color: $ivory;
          }
        }
      }
    }
  }
}