.hero {
  background: $green url('../images/petr-sevcovic-594807-unsplash.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;

  &:before {
    background-color: rgba(black, .4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .hero-content {
    color: $offWhite;
    margin: 0 30px;
    position: relative;
    z-index: 1;

    @include above-sm() {
      $value: 80 160 0;
      @include relative-size(margin, $value);
    }
  }

  .hero-content-title {
    margin: 0;
    @include relative-size(margin-top, 60);
  }

  .hero-content-address {
   font-size: 20px;
   font-weight: 700;
   line-height: 25px;
   margin: 30px 0 0;

   @include above-sm() {
    @include relative-size(font-size, 28);
    @include relative-size(line-height, 33);
    @include relative-size(margin-top, 30);
   }
  }

  .hero-content-opening-hours {
    @extend .font-sm;
    @include relative-size(margin-top, 16);

    @include above-sm() {
      @include relative-size(margin-top, 13);
    }

    span {
      color: white;
      margin: 0 4px;
      opacity: .6;

      @include above-sm() {
        $values: 0 4;
        @include relative-size(margin, $values);  
      }
    }
  }
}