.image-article {
  &.image-article-inverse {
    .image-article-wrapper {
      flex-direction: row-reverse;

      .image-article-image {
        margin-left: 40px;
        margin-right: 0;
      }

      .image-article-content {
        margin-left: 0;
        margin-right: 40px;

        .image-article-content-wrapper {
          padding: 60px 20px 80px 40px;
        }
      }
    }  
  }

  .image-article-wrapper {
    display: flex;
    flex-direction: row;
    padding: 40px 40px 0;

    .image-article-image,
    .image-article-content {
      width: calc(50% - 40px);
    }

    .image-article-image {
      margin-right: 40px;
      position: relative;

      .image-article-image-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
      }
    }

    .image-article-content {
      margin-left: 40px;

      .image-article-content-wrapper {
        padding: 60px 40px 80px 20px;
      }

      p {
        margin: 20px 0 0;
      }

      p:first-of-type {
        margin-top: 30px;
      }

      .image-article-content-title {
        margin: 0;
      }
    }

    .image-article-date {
      position: absolute;
      right: 0;
      top: 60px;
      width: 120px;

      .image-article-day,
      .image-article-time {
        padding: 18px 23px;
        width: 100%;
      }

      .image-article-day {
        background-color: $green;
        color: white;

        .image-article-day-week {
          @extend .font-lg;
          line-height: 1;
        }

        .image-article-day-occurance {
          font-size: 13px;
          line-height: 1;
          margin-top: 5px;
          opacity: .5;
        }
      }

      .image-article-time {
        background-color: $yellow;
        color: $green;
      }
    }
  }
}