.image-article {
  &.image-article-inverse {
    .image-article-wrapper {
      flex-direction: row-reverse;

      .image-article-image {
        margin-left: 40px;
        margin-right: 0;
      }

      .image-article-content {
        margin-left: 0;
        margin-right: 40px;

        .image-article-content-wrapper {
          padding: 60px 20px 80px 40px;
        }
      }
    }  
  }

  .image-article-wrapper {
    display: flex;
    flex-direction: row;
    padding: 40px 40px 0;

    .image-article-image,
    .image-article-content {
      width: calc(50% - 40px);
    }

    .image-article-image {
      margin-right: 40px;

      .image-article-image-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
      }
    }

    .image-article-content {
      margin-left: 40px;

      .image-article-content-wrapper {
        padding: 60px 40px 80px 20px;
      }

      p {
        margin: 20px 0 0;
      }

      p:first-of-type {
        margin-top: 30px;
      }

      .image-article-content-title {
        margin: 0;
      }
    }
  }
}