.instagram-feed {
  margin-top: 10px;

  .slick-dots {
    top: -50px;
    right: 40px;

    li {
      display: inline-block;
      margin-left: 13px;
      position: relative;

      &:before {
        background-color: transparent;
        border-radius: 50%;
        content: '';
        height: 12px;
        left: -2px;
        position: absolute;
        top: 50%;
        width: 12px;
        z-index: 0;
      }

      &.slick-active {
        &:before {
          background-color: $yellow;
        }

        button {
          background-color: $green;
        }
      }

      button {
        background-color: rgba($green, .5);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        height: 8px;
        line-height: 0;
        padding: 0;
        position: relative;
        width: 8px;
        z-index: 1;
      }
    }
  }
}