.instagram-feed {
  margin-top: 10px;

  .instagram-feed-item {
    @include aspect-ratio(1, 1);

    .instagram-feed-item-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .slick-dots {
    top: -50px;
    right: 40px;

    li {
      display: inline-block;
      margin-left: 13px;
      position: relative;

      &.slick-active {
        button {
          background-color: $green;
          border: 2px solid $yellow;
        }
      }

      button {
        background-color: rgba($green, .3);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        height: 10px;
        line-height: 0;
        padding: 0;
        position: relative;
        width: 10px;
        z-index: 1;
      }
    }
  }
}