.menus {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include above-sm() {
    @include relative-size(margin-top, 80);
    flex-direction: row;
  }

  .menu {
    flex: 1;

    &:nth-child(2) {
      background-color: $green;
      color: $ivory;

      a {
        color: inherit;

        &::before {
          opacity: .7;
        }
      }
    }

    &.menu-min {
      .menu-image {
        height: 100%;
      }  
    }

    .menu-content {
      padding: 30px;

      @include above-sm() {
        @include relative-size(padding, 30);
      }
    }

    .menu-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vw;

      @include above-sm() {
        height: 17vw;
      }
    }

    .menu-name {
      margin: 0;
    }

    .menu-time,
    .menu-desc {
      @extend .font-sm;
      margin-top: 20px;

      @include above-sm() {
        @include relative-size(margin-top, 20);
      }
    }

    .menu-time {
      display: block;
      margin-top: 10px;
      opacity: .3;

      @include above-sm() {
        @include relative-size(margin-top, 20);
      }

      span {
        color: inherit;
        margin: 0 4px;
        opacity: .6;
  
        @include above-sm() {
          $values: 0 4;
          @include relative-size(margin, $values);  
        }
      }
    }

    .menu-link {
      display: inline-block;
      margin-top: 43px;

      @include above-sm() {
        @include relative-size(margin-top, 46);
      }
    }
  }
}