.menus {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include above-sm() {
    @include relative-size(margin-top, 40);
    flex-direction: row;
  }

  .menu {
    flex: 1;

    &:nth-child(2) {
      background-color: $green;
      color: white;

      a {
        color: inherit;
      }
    }

    &.menu-min {
      .menu-image {
        height: 100%;
      }  
    }

    .menu-content {
      padding: 30px;

      @include above-sm() {
        @include relative-size(padding, 30);
      }
    }

    .menu-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vw;

      @include above-sm() {
        height: 17vw;
      }
    }

    .menu-name {
      margin: 0;
    }

    .menu-time,
    .menu-desc,
    .menu-link {
      @extend .font-sm;
      margin-top: 20px;

      @include above-sm() {
        @include relative-size(margin-top, 20);
      }
    }

    .menu-time {
      display: inline-block;
    }
  }
}