.philosophy {
  padding: 30px 40px 80px;

  @include above-sm() {
    $value: 160 160 120;
    @include relative-size(padding, $value);
  }

  .philosophy-heading {
    margin: 0;
  }

  .philosophy-copy {
    margin: 40px 0;
    max-width: 680px;

    @include above-sm() {
      $value: 40 0;
      @include relative-size(margin, $value);
      @include relative-size(max-width, 680);
      @include relative-size(line-height, 30);
    }
  }
}