.slick-slider {
  .slick-slide {
    div {
      outline: none;
    }
  }
  
  .slick-arrow,
  .slick-dots {
    outline: none;
    position: absolute;
    z-index: 1;

    button {
      outline: none;
    }
  }
}

#weekly-specials {
  margin-bottom: 35px;

  @include above-sm() {
    margin-bottom: 0;
  }

  .slick-slide {
    .image-article-content-copy {
      height: auto;
      overflow: hidden;
      padding-bottom: 40px;

      @include above-sm() {
        @include relative-size(height, 180);
        padding-bottom: 0;
      }
    }
  }

  .slick-arrow {
    background-color: $ivory;
    border: 0;
    height: 45px;
    line-height: 0;
    padding: 0;
    right: 20px;
    top: 20px;
    width: 45px;

    @include above-sm() {
      @include relative-size(height, 60);
      @include relative-size(right, 40);
      @include relative-size(top, 40);
      @include relative-size(width, 60);
    }

    &.slick-prev {
      right: 65px;

      @include above-sm() {
        @include relative-size(right, 100);
      }

      img {
        transform: rotate(180deg);
      }
    }

    img {
      width: 10px;

      @include above-sm() {
        width: 14px;
        @include relative-size(width, 14);
      }
    }
  }

  .slick-dots {
    bottom: auto;
    left: 40px;
    top: calc(70vw - 20px);

    @include above-sm() {
      @include relative-size(bottom, 40);
      left: calc(50% + 5.555555vw);
      top: auto;
    }

    li {
      display: inline-block;
      margin-right: 13px;
      position: relative;

      &.slick-active {
        button {
          background-color: $green;
          border: 2px solid $yellow;
        }
      }

      button {
        background-color: white;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        height: 10px;
        line-height: 0;
        padding: 0;
        position: relative;
        width: 10px;
        z-index: 1;
      }
    }
  }
}